body{
    background-color: aqua;
    border-style: dashed;
    border-width: 10%;
}

#div1 {
    background-color: rgb(210, 123, 123);
    position: absolute;
    border-style: double;
    padding-left: 25%; padding-right: 25%;
}

#div2 {
    background-color: beige;
    background-color: blue;
}