body{
    background-color: aqua;
    border-style: dashed;
    border-width: 10%;
}

#div1 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-style: double;
    padding-left: 25%; padding-right: 25%;
}

#div2 {
    background-color: beige;
}